body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1423px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:841px;
}
#u3645 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:20px;
  width:405px;
  height:841px;
  display:flex;
  opacity:0.99;
}
#u3645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3646 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:199px;
  width:7px;
  height:64px;
  display:flex;
  opacity:0.99;
}
#u3646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3647 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:199px;
  width:7px;
  height:64px;
  display:flex;
  opacity:0.99;
}
#u3647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3648 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:271px;
  width:7px;
  height:64px;
  display:flex;
  opacity:0.99;
}
#u3648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3649 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:104px;
  width:7px;
  height:31px;
  display:flex;
  opacity:0.99;
}
#u3649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u3651 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:33px;
  width:203px;
  height:31px;
  display:flex;
  opacity:0.99;
  color:#D7D7D7;
}
#u3651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:9px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3652 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:42px;
  width:96px;
  height:9px;
  display:flex;
  opacity:0.99;
}
#u3652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3653 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:41px;
  width:12px;
  height:12px;
  display:flex;
  opacity:0.99;
}
#u3653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:185px;
  background:-webkit-linear-gradient(192.644515511044deg, rgba(255, 185, 24, 1) 5%, rgba(255, 226, 51, 1) 98%);
  background:-moz-linear-gradient(257.355484488956deg, rgba(255, 185, 24, 1) 5%, rgba(255, 226, 51, 1) 98%);
  background:linear-gradient(257.355484488956deg, rgba(255, 185, 24, 1) 5%, rgba(255, 226, 51, 1) 98%);
  border:none;
  border-radius:45px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3654 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:32px;
  width:375px;
  height:185px;
  display:flex;
}
#u3654 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:475px;
}
#u3655 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:42px;
  width:428px;
  height:475px;
  display:flex;
  opacity:0.270000010728836;
}
#u3655 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:273px;
}
#u3656 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:123px;
  width:375px;
  height:273px;
  display:flex;
  opacity:0.939999997615814;
}
#u3656 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
  line-height:30px;
}
#u3657 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:260px;
  width:61px;
  height:30px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
  line-height:30px;
}
#u3657 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3658 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:260px;
  width:30px;
  height:30px;
  display:flex;
}
#u3658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:496px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3659 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:316px;
  width:373px;
  height:496px;
  display:flex;
}
#u3659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:left;
  line-height:15px;
}
#u3660 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:272px;
  width:33px;
  height:15px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:left;
  line-height:15px;
}
#u3660 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u3661 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:558px;
  width:73px;
  height:18px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u3661 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(231, 231, 231, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3662 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:558px;
  width:43px;
  height:18px;
  display:flex;
}
#u3662 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 213, 42, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3663 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:558px;
  width:43px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3663 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u3664 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:561px;
  width:25px;
  height:12px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u3664 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u3665 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:561px;
  width:25px;
  height:12px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
  line-height:12px;
}
#u3665 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.16078431372549);
  -webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.16078431372549);
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.16078431372549);
}
#u3666 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:592px;
  width:331px;
  height:90px;
  display:flex;
}
#u3666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u3667 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:600px;
  width:75px;
  height:75px;
  display:flex;
}
#u3667 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.16078431372549);
  -webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.16078431372549);
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.16078431372549);
}
#u3668 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:592px;
  width:331px;
  height:90px;
  display:flex;
}
#u3668 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u3669 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:600px;
  width:75px;
  height:75px;
  display:flex;
}
#u3669 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:16px;
}
#u3670 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:602px;
  width:65px;
  height:16px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:16px;
}
#u3670 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3672 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:601px;
  width:18px;
  height:18px;
  display:flex;
}
#u3672 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3673 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:601px;
  width:18px;
  height:18px;
  display:flex;
}
#u3673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u3674 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:600px;
  width:20px;
  height:19px;
  display:flex;
}
#u3674 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u3675 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:600px;
  width:19px;
  height:19px;
  display:flex;
}
#u3675 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3676 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:601px;
  width:18px;
  height:18px;
  display:flex;
}
#u3676 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(250, 235, 173, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3678 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:628px;
  width:54px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C5C5C;
  text-align:left;
  line-height:12px;
}
#u3679 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:631px;
  width:49px;
  height:12px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C5C5C;
  text-align:left;
  line-height:12px;
}
#u3679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(250, 235, 173, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3681 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:628px;
  width:54px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3681 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C5C5C;
  text-align:left;
  line-height:12px;
}
#u3682 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:631px;
  width:49px;
  height:12px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C5C5C;
  text-align:left;
  line-height:12px;
}
#u3682 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3683 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:653px;
  width:25px;
  height:25px;
  display:flex;
}
#u3683 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C5C5C;
  text-align:left;
  line-height:12px;
}
#u3684 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:660px;
  width:133px;
  height:12px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C5C5C;
  text-align:left;
  line-height:12px;
}
#u3684 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u3685 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:628px;
  width:73px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3685 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:12px;
}
#u3686 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:631px;
  width:62px;
  height:12px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:12px;
}
#u3686 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.16078431372549);
  -webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.16078431372549);
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.16078431372549);
}
#u3687 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:698px;
  width:331px;
  height:90px;
  display:flex;
}
#u3687 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u3688 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:706px;
  width:75px;
  height:75px;
  display:flex;
}
#u3688 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.16078431372549);
  -webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.16078431372549);
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.16078431372549);
}
#u3689 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:698px;
  width:331px;
  height:90px;
  display:flex;
}
#u3689 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u3690 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:706px;
  width:75px;
  height:75px;
  display:flex;
}
#u3690 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:16px;
}
#u3691 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:708px;
  width:65px;
  height:16px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:16px;
}
#u3691 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3693 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:704px;
  width:18px;
  height:18px;
  display:flex;
}
#u3693 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3694 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:704px;
  width:18px;
  height:18px;
  display:flex;
}
#u3694 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u3695 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:703px;
  width:20px;
  height:19px;
  display:flex;
}
#u3695 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u3696 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:703px;
  width:19px;
  height:19px;
  display:flex;
}
#u3696 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(250, 235, 173, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3698 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:734px;
  width:54px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3698 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C5C5C;
  text-align:left;
  line-height:12px;
}
#u3699 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:737px;
  width:49px;
  height:12px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C5C5C;
  text-align:left;
  line-height:12px;
}
#u3699 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3700 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:759px;
  width:25px;
  height:25px;
  display:flex;
}
#u3700 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C5C5C;
  text-align:left;
  line-height:12px;
}
#u3701 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:766px;
  width:147px;
  height:12px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#5C5C5C;
  text-align:left;
  line-height:12px;
}
#u3701 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u3702 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:734px;
  width:73px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3702 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:12px;
}
#u3703 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:737px;
  width:62px;
  height:12px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:12px;
}
#u3703 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:14px;
}
#u3705 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:392px;
  width:320px;
  height:52px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:14px;
}
#u3705 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u3706 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:358px;
  width:73px;
  height:18px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u3706 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:14px;
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:502px;
  width:324px;
  height:32px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:14px;
}
#u3708 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:468px;
  width:73px;
  height:18px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
  line-height:18px;
}
#u3709 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#46A8FF;
  text-align:left;
  line-height:14px;
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:520px;
  width:29px;
  height:14px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#46A8FF;
  text-align:left;
  line-height:14px;
}
#u3710 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555252;
  text-align:left;
  line-height:30px;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:83px;
  width:61px;
  height:30px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555252;
  text-align:left;
  line-height:30px;
}
#u3711 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#46A8FF;
  text-align:left;
  line-height:14px;
}
#u3712 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:430px;
  width:29px;
  height:14px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#46A8FF;
  text-align:left;
  line-height:14px;
}
#u3712 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u3714 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:31px;
  width:203px;
  height:31px;
  display:flex;
  opacity:0.99;
  color:#D7D7D7;
}
#u3714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:9px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3715 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:40px;
  width:96px;
  height:9px;
  display:flex;
  opacity:0.99;
}
#u3715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3716 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:39px;
  width:12px;
  height:12px;
  display:flex;
  opacity:0.99;
}
#u3716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3719 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:798px;
  width:32px;
  height:32px;
  display:flex;
}
#u3719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFBD21;
  text-align:center;
}
#u3720 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:830px;
  width:30px;
  height:13px;
  display:flex;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFBD21;
  text-align:center;
}
#u3720 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3720_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFBD21;
  text-align:center;
}
#u3720.mouseOver {
}
#u3720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#8A8A8A;
  text-align:center;
}
#u3722 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:830px;
  width:31px;
  height:14px;
  display:flex;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#8A8A8A;
  text-align:center;
}
#u3722 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3723 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:797px;
  width:32px;
  height:32px;
  display:flex;
}
#u3723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3725 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:798px;
  width:32px;
  height:32px;
  display:flex;
}
#u3725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#8A8A8A;
  text-align:center;
}
#u3726 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:830px;
  width:38px;
  height:13px;
  display:flex;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#8A8A8A;
  text-align:center;
}
#u3726 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3728 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:798px;
  width:32px;
  height:32px;
  display:flex;
}
#u3728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#8A8A8A;
  text-align:center;
}
#u3729 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:830px;
  width:29px;
  height:13px;
  display:flex;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#8A8A8A;
  text-align:center;
}
#u3729 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3732 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:71px;
  width:67px;
  height:67px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.99;
}
#u3732 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:3px;
  background:inherit;
  background-color:rgba(138, 138, 138, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3733 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:108px;
  width:23px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  opacity:0.99;
}
#u3733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:3px;
  background:inherit;
  background-color:rgba(138, 138, 138, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8A8A8A;
}
#u3734 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:94px;
  width:23px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
  opacity:0.99;
  color:#8A8A8A;
}
#u3734 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:963px;
  height:792px;
}
#u3735 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:51px;
  width:963px;
  height:792px;
  display:flex;
  font-family:'宋体 Bold', '宋体 常规', '宋体', sans-serif;
  font-style:normal;
}
#u3735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
