body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:1347px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:841px;
}
#u4423 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:20px;
  width:405px;
  height:841px;
  display:flex;
  opacity:0.99;
}
#u4423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4424 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:199px;
  width:7px;
  height:64px;
  display:flex;
  opacity:0.99;
}
#u4424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4425 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:199px;
  width:7px;
  height:64px;
  display:flex;
  opacity:0.99;
}
#u4425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4426 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:271px;
  width:7px;
  height:64px;
  display:flex;
  opacity:0.99;
}
#u4426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4427 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:104px;
  width:7px;
  height:31px;
  display:flex;
  opacity:0.99;
}
#u4427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u4429 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:33px;
  width:203px;
  height:31px;
  display:flex;
  opacity:0.99;
  color:#D7D7D7;
}
#u4429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:9px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4430 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:42px;
  width:96px;
  height:9px;
  display:flex;
  opacity:0.99;
}
#u4430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4431 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:41px;
  width:12px;
  height:12px;
  display:flex;
  opacity:0.99;
}
#u4431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:805px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4433 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:38px;
  width:375px;
  height:805px;
  display:flex;
}
#u4433 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u4434 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:149px;
  width:81px;
  height:81px;
  display:flex;
  opacity:0.810000002384186;
}
#u4434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#555252;
  text-align:left;
  line-height:40px;
}
#u4435 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:236px;
  width:104px;
  height:48px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#555252;
  text-align:left;
  line-height:40px;
}
#u4435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#737373;
  text-align:left;
  line-height:25px;
}
#u4436 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:290px;
  width:51px;
  height:25px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#737373;
  text-align:left;
  line-height:25px;
}
#u4436 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:139px;
}
#u4438 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:440px;
  width:353px;
  height:139px;
  display:flex;
}
#u4438 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:160px;
}
#u4439 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:614px;
  width:343px;
  height:160px;
  display:flex;
}
#u4439 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:15px;
}
#u4440 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:595px;
  width:91px;
  height:15px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
  line-height:15px;
}
#u4440 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u4444 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:343px;
  width:69px;
  height:69px;
  display:flex;
}
#u4444 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u4445 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:350px;
  width:28px;
  height:27px;
  display:flex;
}
#u4445 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4446 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:383px;
  width:50px;
  height:14px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4446 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u4449 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:343px;
  width:69px;
  height:69px;
  display:flex;
}
#u4449 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u4450 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:349px;
  width:29px;
  height:28px;
  display:flex;
}
#u4450 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4451 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:383px;
  width:29px;
  height:14px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4451 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u4454 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:343px;
  width:69px;
  height:69px;
  display:flex;
}
#u4454 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
}
#u4455 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:352px;
  width:29px;
  height:28px;
  display:flex;
}
#u4455 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4456 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:383px;
  width:34px;
  height:14px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:14px;
}
#u4456 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555252;
  text-align:left;
  line-height:30px;
}
#u4457 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:73px;
  width:121px;
  height:30px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#555252;
  text-align:left;
  line-height:30px;
}
#u4457 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u4458 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:118px;
  width:16px;
  height:21px;
  display:flex;
}
#u4458 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#555252;
  text-align:left;
  line-height:12px;
}
#u4459 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:122px;
  width:85px;
  height:12px;
  display:flex;
  font-family:'Adobe Heiti Std ', 'Adobe Heiti Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#555252;
  text-align:left;
  line-height:12px;
}
#u4459 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4462 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:67px;
  width:67px;
  height:67px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  opacity:0.99;
}
#u4462 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:3px;
  background:inherit;
  background-color:rgba(138, 138, 138, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4463 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:104px;
  width:23px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  opacity:0.99;
}
#u4463 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:3px;
  background:inherit;
  background-color:rgba(138, 138, 138, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8A8A8A;
}
#u4464 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:90px;
  width:23px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
  opacity:0.99;
  color:#8A8A8A;
}
#u4464 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:31px;
}
#u4466 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:31px;
  width:203px;
  height:31px;
  display:flex;
  opacity:0.99;
  color:#D7D7D7;
}
#u4466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:9px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4467 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:40px;
  width:96px;
  height:9px;
  display:flex;
  opacity:0.99;
}
#u4467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4468 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:39px;
  width:12px;
  height:12px;
  display:flex;
  opacity:0.99;
}
#u4468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:45px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u4469 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:795px;
  width:375px;
  height:50px;
  display:flex;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u4469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:787px;
}
#u4470 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:49px;
  width:877px;
  height:787px;
  display:flex;
  font-family:'宋体 Bold', '宋体 常规', '宋体', sans-serif;
  font-style:normal;
}
#u4470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
